{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="row">
    <div class="col-4">
        <img src="{{product.image.url}}" width="100%">
    </div>
    <div class="col">
        <h1 class="display-6">{{product.name}}</h1>
        <p><span class="badge badge-secondary">Price</span>{{product.price}}</p>
        <form action="{% url 'shop:product_pay' product.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-sm" value="결제">
        </form>
        <h5><span class="badge badge-secondary">Description</span>{{product.description|linebreaks}}</h5>
    </div>
</div>

{% endblock content%}
</body>
</html>